body {
    background-image:url('../img/spinningpokeball.gif');
    background-repeat: repeat-x repeat-y;
}

.row-t {
    margin-top : 10px
}

.row .footer {
    position: relative;
}

.jumbotron {
    position: relative;
}

#jumbo2,
#jumbo3 {
    margin: 0 0 0 0;
}

#jumbo2 {
    min-height: 300px;
    padding: 10px 10px 0 10px;
}

#jumbo3 {
    padding: 5px 5px 5px 5px;
    margin-bottom: 40px;
}

#score,
#points,
#timer {
    margin-top: 5px;
    font-size: 30px;
    background-color: #e9ecef;
    color: #000000;
}

#footer{
    text-align: center !important;
    color: #FFFFFF !important;
    font-size: 10px !important;
    height: 15px;
}

.overlay {
    position: absolute;
    left: 50%;
}

.inner{
    margin-top: -20px;
    position: relative; 
    left: -50%;
}

#loadingimg {
    visibility: visible;
}

.pokeImg {
    width: 50%;
    height: auto;
}

#answerArea .radio {
    display: inline-block;
  }
#answerArea label {
    display: block;
}
#answerArea input[type="radio"] {
    display: block;
    text-align: center;
}

#submitArea {
    display: block;
}

#score,
#points,
#timer,
.jumbotron,
.btn.outline {
    border: 4px solid #000000;
}


.badge .badge-secondary {
    margin: 0 5px 0 5px;
}

label {
    margin-left: 10px;
}

.btn.outline {
    margin-top: 45px;
}

.stats {
    margin-top: 70px;
}

#start {
    color: #ffffff;
    background-color: #008000;
}

#start:active, #start:focus {
    background-color: #FF0000;
}

#submitButton:hover ,#submitButton:focus {
    background-color: #4DDB4D;
}

#submitButton:active {
    background-color: #05C49E;
}

input[type=submit] {
    padding:5px 15px; 
    color: #FFFFFF ;
    background:#008000; 
    border: 0 none;
    cursor: pointer;
    border-radius: 5px;
}

@media (min-width: 400px) {
    .badge.badge-secondary {
        margin: 0 0 0 0;
    }

    #start {
        margin-left: 350px
    }
}

@media (min-width: 576px) {
    .badge.badge-secondary {
        margin: 0 25px 0 25px;
    }

    #start {
        margin-left: 475px
    }
}

@media (min-width: 768px) {
    .badge.badge-secondary {
        margin: 0 50px 0 50px;
    }

    #start {
        margin-left: 575px
    }
}

@media (min-width: 992px) {
    .badge.badge-secondary {
        margin: 0 90px 0 90px;
    }

    #start {
        margin-left: 775px
    }
}

@media (min-width: 1200px) {
    .badge.badge-secondary {
        margin: 0 125px 0 125px;
    }

    #start {
        margin-left: 980px
    }
}
